@tailwind components;

@layer components {
  .heading1 {
    @apply font-pretendard text-24 font-bold leading-[120%] tracking-[0];
  }

  .heading2 {
    @apply font-pretendard text-20 font-bold leading-[120%] tracking-[0];
  }

  .heading3 {
    @apply font-pretendard text-18 font-bold leading-[120%] tracking-[0];
  }

  .heading4 {
    @apply font-pretendard text-16 font-bold leading-[120%] tracking-[0];
  }

  .heading5 {
    @apply font-pretendard text-15 font-bold leading-[120%] tracking-[0];
  }

  .heading6 {
    @apply font-pretendard text-14 font-bold leading-[120%] tracking-[0];
  }

  .heading7 {
    @apply font-pretendard text-13 font-bold leading-[120%] tracking-[0];
  }

  .heading8 {
    @apply font-pretendard text-12 font-bold leading-[120%] tracking-[0];
  }

  .heading9 {
    @apply font-pretendard text-11 font-bold leading-[120%] tracking-[0];
  }

  .body1 {
    @apply font-pretendard text-20 font-normal leading-[120%] tracking-[0];
  }

  .body2 {
    @apply font-pretendard text-18 font-normal leading-[120%] tracking-[0];
  }

  .body3 {
    @apply font-pretendard text-16 font-normal leading-[120%] tracking-[0];
  }

  .body4 {
    @apply font-pretendard text-15 font-normal leading-[120%] tracking-[0];
  }

  .body5 {
    @apply font-pretendard text-14 font-normal leading-[120%] tracking-[0];
  }

  .body6 {
    @apply font-pretendard text-13 font-bold leading-[120%] tracking-[0];
  }

  .body7 {
    @apply font-pretendard text-12 font-normal leading-[120%] tracking-[0];
  }

  .body8 {
    @apply font-pretendard text-11 font-normal leading-[120%] tracking-[0];
  }

  .body9 {
    @apply font-pretendard text-9 font-normal leading-[120%] tracking-[0];
  }
}
