@import "./font.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /*공통*/
    --font-pretendard: "pretendard", sans-serif;
    --white: 0, 0%, 100%;
    --black: 0, 0%, 0%;
    --primary: 112, 76%, 53%;

    --button-primary-background: var(--primary);
    --button-primary-foreground: 228, 5%, 20%;
    /*--primary-foreground: var(--white);*/
    --button-primary-hover: 112, 76%, 53%, 0.8;
  }

  .light {
    --gray-pale: 0, 0%, 95%;
    --gray-weak: 0, 0%, 92%;
    --gray-light: 0, 0%, 85%;
    --gray-normal: 0, 0%, 61%;
    --gray-neutral: 0, 0%, 49%;
    --gray-deep: 0, 0%, 36%;
    --gray-drak: 228, 5%, 20%;

    --background: var(--gray-pale);
    --foreground: var(--gray-drak);
    --border: 0, 0%, 100%, 0.15;

    --button-secondary-background: var(--gray-light);
    --button-secondary-foreground: var(--gray-drak);
    --button-secondary-hover-background: var(--gray-weak);
    --button-secondary-hover-foreground: var(--gray-drak);
    --button-outline-foreground: var(--gray-drak);
    --button-outline-hover-foreground: var(--gray-drak);

    --accent: var(--gray-weak);
    --accent-foreground: 222.2 47.4% 11.2%;

    --switch-theme-thumb: 228, 3%, 34%;
    --switch-theme: 180, 1%, 86%;
    --switch-off: var(--gray-weak);
    --switch-thumb-off: var(--gray-neutral);
    --switch-on: var(--gray-drak);
    --switch-thumb-on: var(--white);

    --popover-background: var(--white);
    --popover-overlay: 0, 0%, 95%, 0.7;
    --popover-foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
  }

  .dark {
    --gray-pale: 180, 1%, 86%;
    --gray-light: 210, 1%, 69%;
    --gray-neutral: 208, 8%, 56%;
    --gray-deep: 228, 3%, 34%;
    --gray-drak: 228, 5%, 20%;
    --gray-drakest: 230, 10%, 11%;

    --background: var(--gray-drakest);
    --foreground: var(--white);
    --border: 0, 0%, 100%, 0.15;

    --button-secondary-background: var(--gray-drak);
    --button-secondary-foreground: var(--gray-light);
    --button-secondary-hover-background: var(--gray-deep);
    --button-secondary-hover-foreground: var(--white);
    --button-outline-foreground: var(--gray-light);
    --button-outline-hover-foreground: var(--white);

    --accent: var(--gray-deep);
    --accent-foreground: 210 40% 98%;

    --switch-theme-thumb: 180, 1%, 86%;
    --switch-theme: var(--gray-deep);
    --switch-off: var(--gray-deep);
    --switch-thumb-off: var(--gray-pale);
    --switch-on: var(--white);
    --switch-thumb-on: var(--gray-deep);

    --popover-background: var(--black);
    --popover-overlay: 0, 0%, 0%, 0.3;
    --popover-foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply box-border border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
